{% extends "base.html" %}
{% load static %}



{% block content %}
<!-- breadcrumb-area -->
<div class="banner-area breadcrumb-area padding-top-120 padding-bottom-90">
    <div class="bread-shapes">
        <span class="b-shape-1"><img src="{% static 'assets/images/img/5.png' %}" alt=""></span>
        <span class="b-shape-2"><img src="{% static 'assets/images/img/6.png' %}" alt=""></span>
        <span class="b-shape-3"><img src="{% static 'assets/images/img/7.png' %}" alt=""></span>
        <span class="b-shape-4"><img src="{% static 'assets/images/img/9.png' %}" alt=""></span>
        <span class="b-shape-5"><img src="{% static 'assets/images/shapes/18.png' %}" alt=""></span>
        <span class="b-shape-6"><img src="{% static 'assets/images/img/7.png' %}" alt=""></span>
    </div>
    <div class="container padding-top-120">
        <div class="row justify-content-center">
            <nav aria-label="breadcrumb">
                <h2 class="page-title">food shop</h2>
                <ol class="breadcrumb text-center">
                    <li class="breadcrumb-item"><a href="#">Home</a> / <a href="#"> page</a></li>
                    <li class="breadcrumb-item active" aria-current="page"> food shop</li>
                </ol>
            </nav>
        </div>
    </div>
</div>


<!-- food-area-wrapper -->
<div class="food-area-wrapper">
    <div class="pshapes">
        <span class="ps-1 item-bounce"><img src="{% static 'assets/images/img/32.png' %}" alt=""></span>
        <span class="ps-2 item-animateTwo"><img src="{% static 'assets/images/shapes/12.png' %}" alt=""></span>
        <span class="ps3 item-bounce"><img src="{% static 'assets/images/shapes/13.png' %}" alt=""></span>
        <span class="ps-4"><img src="{% static 'assets/images/shapes/14.png' %}" alt=""></span>
        <span class="ps-5"><img src="{% static 'assets/images/img/6.png' %}" alt=""></span>
        <span class="ps-6"><img src="{% static 'assets/images/shapes/16.png' %}" alt=""></span>
        <span class="ps-7 item-animateOne"><img src="{% static 'assets/images/img/6.png' %}" alt=""></span>
    </div>
    <div class="container padding-top-120 padding-bottom-120">
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <!-- sidebar-widget-1 -->
                <div class="sidebar-widget-1 wow fadeInUp">
                    <h5>Hot Sale Products</h5>
                    <div class="sidebar-widget d-flex">
                        <div class="dish-img">
                            <a href="single-food.html">
                                <img src="{% static 'assets/images/menu-item/pd6.png' %}" alt="">
                            </a>
                        </div>
                        <div class="dish-content">
                            <h6>
                                <a href="single-food.html">Chicken Fry Recipe</a>
                            </h6>
                            <span class="price">$10.00</span>
                            <span>
                                <a class="cart-select" href="shopping-cart.html">
                                    <i class="fas fa-shopping-basket"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                    <div class="sidebar-widget d-flex">
                        <div class="dish-img">
                            <a href="single-food.html">
                                <img src="{% static 'assets/images/menu-item/pd4.png' %}" alt="">
                            </a>
                        </div>
                        <div class="dish-content">
                            <h6>
                                <a href="single-food.html">Chicken Soup Rejala</a>
                            </h6>
                            <span class="price">$20.00</span>
                            <span>
                                <a class="cart-select" href="shopping-cart.html">
                                    <i class="fas fa-shopping-basket"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                    <div class="sidebar-widget d-flex">
                        <div class="dish-img">
                            <a href="single-food.html">
                                <img src="{% static 'assets/images/menu-item/pd7.png' %}" alt="">
                            </a>
                        </div>
                        <div class="dish-content">
                            <h6>
                                <a href="single-food.html">The Best Black Frame</a>
                            </h6>
                            <span class="price">$80.00</span>
                            <span>
                                <a class="cart-select" href="shopping-cart.html">
                                    <i class="fas fa-shopping-basket"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                    <div class="sidebar-widget d-flex">
                        <div class="dish-img">
                            <a href="single-food.html">
                                <img src="{% static 'assets/images/menu-item/pd8.png' %}" alt="">
                            </a>
                        </div>
                        <div class="dish-content">
                            <h6>
                                <a href="single-food.html">The Best Black Frame</a>
                            </h6>
                            <span class="price">$80.00</span>
                            <span>
                                <a class="cart-select" href="shopping-cart.html">
                                    <i class="fas fa-shopping-basket"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>

                <!-- sidebar-widget-2 -->
                <div class="sidebar-widget-2 wow fadeInUp">
                    <h5>Filter by Price</h5>
                    <div class="filter-sidebar margin-top-30">
                        <div id="slider-range"></div>
                        <div>
                            <div class="margin-top-30">
                                <span class="textbold"> Price:</span> 
                                <input type="text" id="amount" readonly class="textbold">
                                <button class="btn filter-btn" onclick="filterItems()">Filter</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- sidebar-widget-3 -->
                <div class="sidebar-widget-3 wow fadeInUp">
                    <h5>filter by menu</h5>
                    <div class="sidebar-widget d-flex align-items-center">
                        <div class="dish-img">
                            <a href="single-food.html"> <img src="{% static 'assets/images/menu-item/fm1.png' %}"
                                    alt=""></a>
                        </div>
                        <div class="dish-content d-flex justify-content-between">
                            <h6> <a href="single-food.html">burger food
                                </a></h6>
                            <span class="price">20</span>
                        </div>
                    </div>
                    <div class="sidebar-widget d-flex align-items-center">
                        <div class="dish-img">
                            <a href="single-food.html"> <img src="{% static 'assets/images/menu-item/fm2.png' %}"
                                    alt=""></a>
                        </div>
                        <div class="dish-content d-flex justify-content-between">
                            <h6> <a href="single-food.html">Chicken fry
                                </a></h6>
                            <span class="price">50</span>
                        </div>
                    </div>
                    <div class="sidebar-widget d-flex align-items-center">
                        <div class="dish-img">
                            <a href="single-food.html"> <img src="{% static 'assets/images/menu-item/fm3.png' %}"
                                    alt=""></a>
                        </div>
                        <div class="dish-content d-flex justify-content-between">
                            <h6> <a href="single-food.html">Pizza
                                </a></h6>
                            <span class="price">20</span>
                        </div>
                    </div>
                    <div class="sidebar-widget d-flex align-items-center">
                        <div class="dish-img">
                            <a href="single-food.html"><img src="{% static 'assets/images/menu-item/fm4.png' %}"
                                    alt=""></a>
                        </div>
                        <div class="dish-content d-flex">

                            <h6> <a href="single-food.html">Chicken fry
                                </a></h6>

                            <span class="price">50</span>
                        </div>
                    </div>
                </div>

                <!-- sidebar-widget-4 -->
                <div class="sidebar-widget-4 wow fadeInUp">
                    <div class="gallery-img-4">
                        <h5>Super Combo
                            Burger</h5>
                        <a href="shopping-cart.html" class="btn">order now</a>
                        <img src="{% static 'assets/images/gallery/22.png' %}" alt="">
                        <span class="gprice-4">
                            <img src="{% static 'assets/images/gallery/25.png' %}" alt="">
                        </span>
                        <span class="gshape-1">
                            <img src="{% static 'assets/images/shapes/35.png' %}" alt="">
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-8">

                <!-- food area -->
                <section class="food-area  popular-dishes-area">
                    <div class="container">
                        <nav
                            class="popular-tab-nav d-flex flex-wrap justify-content-between align-items-center  margin-bottom-60">
                            <ul class="nav" id="nav-tab-1" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <div class="nav-link active" id="food1-tab" data-bs-toggle="tab"
                                        data-bs-target="#food1" role="tab" aria-controls="food1" aria-selected="true">
                                        <span><i class="fas fa-th"></i></span>
                                    </div>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <div class="nav-link" id="food2-tab" data-bs-toggle="tab" data-bs-target="#food2"
                                        role="tab" aria-controls="food2" aria-selected="false">
                                        <span><i class="fas fa-th-list"></i></span>
                                    </div>
                                </li>
                            </ul>

                            <span>There are 16 products.</span>
                            <span>sort by price: </span>
                            <span>
                                <select name="sort_by" id="sort-by-select">
                                    <option value="">Default</option>
                                    <option value="low_to_high">Low to High</option>
                                    <option value="high_to_low">High to Low</option>
                                </select>
                            </span>
                        </nav>
                        <!-- main-content -->
                        <div class="tab-content" id="nav-tabContent-1">

                            <!-- food 1 -->
                            <div class="tab-pane fade show active" id="food1" role="tabpanel"
                                aria-labelledby="food1-tab">
                                <div class="row" id="filtered-items">
                                    {% for item in items %}
                                    <div class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".2s">
                                        <div class="single-dishes">
                                            <div class="dish-img">
                                                <img src="{{ item.image.url }}" style="width: inherit;" alt="">
                                            </div>
                                            <div class="dish-content">
                                                <h5>
                                                    <a href="{% url 'food_details' item.id %}"> {{ item.name }}</a>
                                                </h5>
                                                <p>{{ item.short_description|truncatechars_html:80 }}</p>
                                                <span class="price">price :$ {{ item.regular_price }}</span>
                                            </div>
                                            <span class="badge">hot</span>
                                            <div class="cart-opt">
                                                <span>
                                                    <a href="#">
                                                        <i class="fas fa-heart"></i>
                                                    </a>
                                                </span>
                                                <span>
                                                    <a href="{% url 'add_to_cart' item.id %}">
                                                        <i class="fas fa-shopping-basket"></i>
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    {% empty %}
                                    <h4>There is no available foods here.</h4>
                                    {% endfor %}
                                </div>
                            </div>


                            <!-- food 2 -->
                            <div class="tab-pane fade" id="food2" role="tabpanel" aria-labelledby="food2-tab">
                                <div class="row">
                                    {% for item in items %}
                                    <div class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".4s">
                                        <div class="single-dishes">
                                            <div class="dish-img">
                                                <img src="{{ item.image.url }}" style="width: inherit;" alt="">
                                            </div>
                                            <div class="dish-content">
                                                <h5>
                                                    <a href="single-food.html">{{ item.title }}</a>
                                                </h5>
                                                <p>{{ item.short_description|truncatechars_html:80 }}</p>
                                                <span class="price">price :${{ item.regular_price }}</span>

                                            </div>
                                            <span class="badge"></span>
                                            <div class="cart-opt">
                                                <span>
                                                    <a href="#">
                                                        <i class="fas fa-heart"></i>
                                                    </a>
                                                </span>
                                                <span>
                                                    <a href="shopping-cart.html">
                                                        <i class="fas fa-shopping-basket"></i>
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    {% empty %}
                                    <h4>No items available.</h4>
                                    {% endfor %}
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- pagination-area -->
                    <div class="pagination-area">
                        <div class="container">
                            <div class="pagination">
                                <a class="active" href="#">01</a>
                                <a href="#">02</a>
                                <a href="#">03</a>
                            </div>
                        </div>
                    </div>

                </section>
            </div>
        </div>
    </div>
</div>

{% endblock content %}


{% block js %}

{% endblock js %}


{% comment "cart" %}
<!-- cart.html -->
{% extends 'base.html' %}

{% block content %}
  <h2>Your Cart</h2>
  <ul>
    {% for item in cart_items %}
      <li>{{ item.product.name }} - {{ item.quantity }} x ${{ item.product.price }} = ${{ item.quantity|mul:item.product.price }}</li>
    {% endfor %}
  </ul>
{% endblock %}
{% endcomment %}
